.container{
    margin-top: 5%;
    margin-bottom:3% ;
    margin-left:5%;
    width:360px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    height:70px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .row{
        margin-left: 10px;
        margin-right: 10px;
        box-sizing: border-box;
        border-bottom:1px solid rgba(200, 200, 200, 0.5);
    }
    .fa-search{
        
        margin-left: 0px;
    }
    .searchbar{
        margin-left: 0px;
        margin-top: 0px;
        box-sizing: border-box;
        border: none;
        
        
    }
    .searchbar:focus{
        outline: none;
    }
    .searchbar::placeholder{
        opacity: 0.7;
    }
}